<div>
    <a href="{% url 'contacts:contacts_create' %}">
        <button>Create</button>
    </a>
    <a href="{% url 'contacts:contacts_generate' %}">
        <button>Generate new contacts</button>
    </a>
    <a href="{% url 'contacts:contacts_delete' %}">
        <button>Delete contacts</button>
    </a>
</div>
<ol>
    {% for contact in contacts_list %}
        <li>
            <div  style="display:flex; flex-flow: row;">


                    <div style="margin: .2em">
                    <span>{{ contact.pk }}</span>
                    <span> - </span>
                    <span>{{ contact.name }}</span>
                    <span> - </span>
                    <span>{{ contact.phone_number }}</span>
                    <span> - </span>
                    <span>{{ contact.modified_at }}</span>
                    </div>
                    <div style="margin: .2em">
                        <a href="{% url 'contacts:contacts_update' contact.pk %}">
                            <button>Update</button>
                        </a>
                        <a href="{% url 'contacts:contacts_delete' contact.pk %}">
                            <button>Delete</button>
                        </a>
                    </div>
            </div>
        </li>
    {% endfor %}
</ol>
