<header>
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" alt="Мой логотип" width=100 height=auto></div>


    <ul>
        <li>
            <a href="{% url 'base:home_page' %}">
                Home
            </a>
        </li>
        <li>
            <a href="{% url 'first_example:greetings' name=name|default:'Marina' age=age|default:28 %}">
                Greetings
            </a>
        </li>
        <li>
            <a href="{% url 'first_example:generate_humans' %}">
                Generate humans
            </a>
        </li>
        <li>
            <a href="{% url 'first_example:generate_emails' %}">
                Generate users data (HW 11)
            </a>
        </li>
    </ul>
</header>